*{margin: 0px; padding: 0px;}
body{
    background-color: #F5683D;
    padding-top: 30vh;
}
.form-container{
    width: 250px;
    height: auto;
    padding: 40px 30px; 
    background-color:white;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
    margin: auto;
    position: relative;
    
}


ul.list{
list-style-type:none;
text-align: center;
}
ul.list li{
width: 250px;
margin-bottom: 15px;
}
ul.list li input{
   width:220px;
   text-align: center;
   padding: 8px 0px;
   border: none;
   background-color:blue;
   border-radius: 5px;
   color: white;
}
ul.list li input {
    background-color:grey;
    color: white;
    
}
ul.list li:nth-child(5){
color:red;
}    
